fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-jose
passlib[bcrypt]

python-multipart

langchain
langchain-community
langchain-chroma
langchain-ollama

chromadb

pypdf
python-docx

aiofiles

python-dotenv

alembic

sse-starlette